body{
    background-color: aqua;
    color: #ECDBBA;
}
h1{
    font-weight: 600;
}
.container-fluid{
    background-color: chartreuse;
    position: absolute;
    height: 100%;
}
.row{
    height: 100%;
}
.table-of-contents{
    background-color: #d89c48;
    display: grid;
    justify-content: center;
    padding-top: 45px;
    padding-bottom: 20px;
}
.main-content{
    background-color: #064663;
    padding: 0 50px 0 50px;
    margin: 0px;
}
.bullet-point{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #c7b89b;
    position: relative;
    z-index: 1000;
    margin: auto;
}
.bullet-point::before{
    background-color: #ead7af;
    width: 90%;
    height: 90%;
    border: #064663 solid 4px;
    border-radius: 50%;
    content: "";
    position: absolute;
    top: 6%;
    left: 6%;
}
.bullet-point:hover{
    width: 50px;
    height: 50px;
}

.line{
    width: 7px;
    height: 100%;
    background-color: #ead7af;
    justify-self: center;
    position: absolute;
    top: 0px;
}
.image-container{
    display: grid;
    justify-content: center;
}
.image{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: brown;
    grid-area: 1/1/2/2;
    background-image: url(./Assets/elon_musk.jpg);
    background-position-x: 50%; 

}
.details{
    grid-area: 1/2/2/3;
    padding-left: 40px;
}

@media(max-width: 991px){
    h1{
        font-size: 4rem;
    }
    p{
        font-size: 2.2rem;
    }
    .image-container{
        margin-top: auto;
    }
    .details{
        margin-bottom: auto;
        margin-top: 20%;
    }
    .bullet-point{
        width: 80px;
        height: 80px;
    }
}
@media(max-width:370px){
    .image{
        width: 200px;
        height: 200px;
    }
    h1{
        font-size: 2rem;
    }
    p{
        font-size: 1rem;
    }
}