body{
    color: #ECDBBA;
    font-family: 'Oswald', sans-serif;
}
p{
    font-size: 1.2rem;
}
h1{
    font-weight: 600;
}
h3{
    margin-right: auto;
    left: 50px;
    bottom: 2px;
    text-align: center;
    position: absolute;
    left: 80px;
}
.title-1{
    top: 20%;
}
.title-2{
    top: 40%;
}
.title-3{
    top: 60%;
}
.title-4{
    top: 80%;
}
.container-fluid{
    position: absolute;
    height: 100%;
}
.row{
    height: 100%;
}
.table-of-contents{
    background-color: #d89c48;
    display: grid;
    justify-content: start;
    padding-top: 45px;
    padding-bottom: 20px;
}
.main-content{
    background-color: #064663;
    padding: 0 50px 0 50px;
    margin: 0px;
}
.bullet-point{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #c7b89b;
    position: absolute;
    z-index: 1000;
    margin: auto;
    left: 23px;
}
.bullet-point-1{
    top: 20%;
}
.bullet-point-2{
    top: 40%;
}
.bullet-point-3{
    top: 60%;
}
.bullet-point-4{
    top: 80%;
}
.bullet-point::before{
    background-color: #ead7af;
    width: 90%;
    height: 90%;
    border: #064663 solid 4px;
    border-radius: 50%;
    content: "";
    position: absolute;
    top: 6%;
    left: 6%;
}
.bullet-point:hover{
    width: 50px;
    height: 50px;
    transform: translate(-10%,-5%);
    padding-top: 3px;
}

.line{
    width: 7px;
    height: 100%;
    background-color: #ead7af;
    left: 40px;
    position: absolute;
    top: 0px;
}
.image-container{
    display: grid;
    justify-content: center;
}
.image{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: brown;
    grid-area: 1/1/2/2;
    background-image: url(./Assets/elon_musk.jpg);
    background-position-x: 50%; 

}
.details{
    padding-left: 40px;
    margin-top: 10%;
}
.carousel-inner{
    min-height: 310px;
}

@media(max-width: 991px){
    .image-container{
        margin-top: auto;
    }
    .details{
        margin-bottom: auto;
        margin-top: auto;
        height: 50%;

    }
    .carousel-inner{
        min-height: 500px;
    }
    .bullet-point{
        width: 80px;
        height: 80px;
        left: 5px;
    }
    .bullet-point:hover{
        transform: translate(25%,25%);
    }
    p{
        font-size: 2rem;
    }
    h1{
        font-size: 4rem;
    }
    h3{
        left: 100px;
    }
    .title-1{
        top: 21.5%;
    }
    .title-2{
        top: 41.5%;
    }
    .title-3{
        top: 61.5%;
    }
    .title-4{
        top: 81.5%;
    }
}
@media(max-width:370px){
    .image{
        width: 200px;
        height: 200px;
    }


}